@tailwind base;
@tailwind components;
@tailwind utilities;

.text-custom-sm {
    font-size: 14px; 
}
.text-custom-base {
    font-size: 15px; 
}
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.7s ease forwards;
  }
  .fade-enter {
    opacity: 0;
    transition: opacity 300ms;
  }
  
  .fade-enter-active {
    opacity: 1;
  }
  
  .fade-exit {
    opacity: 1;
    transition: opacity 300ms;
  }
  
  .fade-exit-active {
    opacity: 0;
  }
  .slide-enter {
    transform: translateX(100%);
  }
  .slide-enter-active {
    transform: translateX(0);
    transition: transform 500ms;
  }
  .slide-exit {
    transform: translateX(0);
  }
  .slide-exit-active {
    transform: translateX(-100%);
    transition: transform 500ms;
  }
  

.tab-content {
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
  }
  
  .tab-content.active {
    opacity: 1;
  }
  
  .tab-item {
    cursor: pointer;
    
    transition: border-bottom-color 1.2s ease; 
  }
  
  .tab-item.active {
    border-bottom: 2px solid #6366F1; 
    color: black; 
  }
  .dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .dropdown.open {
    max-height: 1000px; 
  }
  
  